name: check

on:
  push:
    branches: [ master ]

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: install project
        run: make install

      - name: lint
        run: make lint

      - name: format
        run: make ci-format

      - name: typecheck
        run: make typecheck

      - name: test
        run: make test
